.containerHome {
  display: grid;
  height: 100vh;

  grid-template-columns: 300px auto auto 300px;
  grid-template-rows: 100px auto 100px 100px;
  grid-gap: 20px;
}
body{
  font-family: sans-serif;
  background-color: #333333;
}
p, h1, label {
  color: #e9e4e7;
}
p {
  font-size: 18px;
}
.navl{
  text-decoration: none;
  flex-direction: row;
  display:inline-block;
   flex-wrap:nowrap;



  list-style-type: none;
}
.navl:first-of-type{
justify-content:flex-start;
margin-top: -60px;
  margin-left: 20px;
}
.navl:nth-of-type(2){

margin-left:300px;


}
.ulnav{
  list-style-type: none;
}
.bildnav{


flex-direction: column-right;


}



.logo {

  text-decoration: none;
  list-style-type: none;
}

header {
  grid-column: 1/5;
  grid-row: 1/2;
  font-size: 26px;
  background-color: #fdfdfe;
}
.imgSideLeft{
  grid-column: 1/2;
  grid-row: 2/4;
}
main{
  grid-column: 2/3;
  grid-row: 2/4;
}
.imgInMiddle{
  grid-column: 3/4;
  grid-row: 2/3;
}
.text1{
  grid-column: 3/4;
  grid-row: 3/4;
}
.imgSideRight{
  grid-column: 4/5;
  grid-row: 2/4;
}
footer{
  grid-column: 1/5;
  grid-row: 4/5;
}

.containerFooter {
  display: flex;
  justify-content: space-around;
}
header,
main,
.containerHome .imgInMiddle,
.containerHome .text1,
footer,
.raksana,
.raksanaImage,
.julia,
.juliaImage{
  padding: 50px;
}
a {
  text-decoration: none;
}
a:link{
  color: lightcoral;
}
a:visited{
  color: lightcoral;
}
.Shop_container{
  grid-template-columns: 250px 250px auto;
  grid-template-rows: 100px auto 400px 100px;
  grid-gap: 20px;
 display: grid;
}
.Filter_container{
    border-color: black;
    border-width: thin;
    grid-column: 1/2;
    grid-row: 2/4;
    background-color: grey;
    font-size:50px;
}
.shopelemente{
padding-left: 800px;
    grid-column:2/4;
    grid-row: 2/4;
    background-color: gray;
}
.shopcontainer{

 caret-color: white;
 display: grid;
 grid-template-row:10px 100px 100px 10px;
 grid-template-column: 20px 30px 30px 30px 20px;
 grid-gap:5px;
 margin:0;
 padding:0;


}
.shopel_container {
  float: right;
  background: green;
  text-decoration: none;
}
form{
  border-color: black;

}

.containerAbouUs {
  display: grid;
  height: 100vh;

  grid-template-columns: auto auto auto auto;
  grid-template-rows: 100px 80px auto 100px;
  grid-gap: 20px;
}
body{
  font-family: sans-serif;
  background-color: #333333;
}


header {
  grid-column: 1/5;
  grid-row: 1/2;
  font-size: 26px;
  background-color: #fdfdfe;
}
.containerAboutUs main{
  grid-column: 1/2;
  grid-row: 2/3;
}
.raksana {
  grid-column: 1/2;
  grid-row: 3/4;
}
.raksanaImage{
  grid-column: 2/3;
  grid-row: 3/4;
}
.julia {
  grid-column: 3/4;
  grid-row: 3/4;
}
.juliaImage{
  grid-column: 4/5;
  grid-row: 3/4;
}
footer{
  grid-column: 1/5;
  grid-row: 4/5;
}

.containerKaufen {
  display: grid;

  grid-template-columns: 300px auto;
  grid-template-rows: 100px auto;
}
.formularsetung{
  grid-column: 2/3;
  grid-row: 2/3;
}

