.containerHome {
  display: grid;
  height: 100vh;

  grid-template-columns: 300px auto auto 300px;
  grid-template-rows: 100px auto 100px auto 100px;
  grid-gap: 20px;
}
/*font*/
body{
  font-family: 'Major Mono Display', monospace;
  background-color: #333333;
}
p, h1, label {
  color: #e9e4e7;
}
p {
  font-size: 18px;
  }

header,
main,
.containerHome .text1,
footer,
.raksana,
.julia,
.contactInfo{
  padding: 40px;
}

/*link*/
a {
  text-decoration: none;
}
a:link{
  color: lightcoral;
}
a:visited{
  color: lightcoral;
}

/*navigation*/
.ulnav{
 text-decoration: none;
 display:flex;
flex-direction:row;

 list-style-type: none;
  flex-wrap: wrap;



}

.navl:nth-of-type(1){
margin-top:-50px;
margin-right:3%;
}
.navl:last-of-type{
margin-top:-75px;
margin-left:auto;
margin-right:0%;
justify-content:flex-end;
align-content:flex-end;
flex-shrink:1;


}
.navl{
margin-left:3%;
margin-top:-20px;
font-size:100%;

}
.logo {
  text-decoration: none;
  list-style-type: none;
}

header {
  grid-column: 1/5;
  grid-row: 1/2;
  font-size: 26px;
  background-color: #fdfdfe;
}
.sidebarLeft{
  grid-column: 1/2;
  grid-row: 2/4;
}
main{
  grid-column: 2/3;
  grid-row: 2/4;
}
.imgInMiddle{
  grid-column: 3/4;
  grid-row: 2/3;
}
.text1{
  grid-column: 3/4;
  grid-row: 3/4;
}
.sidebarRight{
  grid-column: 4/5;
  grid-row: 2/4;
}

footer{
  grid-column: 1/5;
  grid-row: 4/5;
}

.containerFooter {
  display: flex;
  justify-content: space-around;
}

.Shop_container{
  grid-template-columns: 300px 79% 1% ;
  grid-template-rows: 100px 500px auto auto ;
  grid-gap: 20px;
 display: grid;
}
.Filter_container{
    border-color: black;
    border-width: thin;
    grid-column: 1/2;
    grid-row: 2/4;
    background-color: grey;
    font-size:50px;
}
.shopelemente{
margin-right:10px;
grid-column:2/2;
grid-row:2/3;
background-color: gray;
}
.shopcontainer{

 caret-color: white;
 display: grid;
 grid-template-row:5% 45% 45% 5%;
 grid-template-column: 5% 30%30% 30% 5%;
 grid-gap:5px;
 margin:0;
 margin-top:10px;
 padding:0;


}
.shopel_container{
  background: yellow;
  text-decoration: none;
  grid-column:2/3;

}
.shopel_container:nth-of-type(2n) {
  background: blue;
  grid-column:3/4;

}
.shopel_container:nth-of-type(3n) {
  background: green;
  grid-column:4/5;

}
form{
  border-color: black;

}

.containerAboutUs {
  display: grid;
  height: 100vh;

  grid-template-columns: 300px auto auto auto;
  grid-template-rows: 100px 80px auto 400px auto;
  grid-gap: 20px;
}

.logo {
  text-decoration: none;
  float: left;
  margin-top: -60px;
  list-style-type: none;
}

header {
  grid-column: 1/5;
  grid-row: 1/2;
  font-size: 26px;
  background-color: #fdfdfe;
}
.containerAboutUs main{
  grid-column: 1/2;
  grid-row: 2/3;
}
.raksana {
  grid-column: 1/2;
  grid-row: 3/4;
}
.raksanaImage{
  grid-column: 2/3;
  grid-row: 3/4;
}
.julia {
  grid-column: 3/4;
  grid-row: 3/4;
}
.juliaImage{
  grid-column: 4/5;
  grid-row: 3/4;
}
.contactInfo {
  grid-column: 1/2;
  grid-row: 4/5;
}
footer{
  grid-column: 1/5;
  grid-row: 5/6;
}

.containerKaufen {
  display: grid;

  grid-template-columns: 300px auto;
  grid-template-rows: 100px auto;
}
.formularsetung{
  grid-column: 2/3;
  grid-row: 2/3;
}

@media screen and (max-width: 1400px) {
  .containerHome {
    display: grid;
    height: 100vh;

    grid-template-columns: auto auto 300px;
    grid-template-rows: 100px auto 100px auto auto 100px;
    grid-gap: 20px;
  }
  header {
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: 26px;
    background-color: #fdfdfe;
  }
  .sidebarLeft{
    grid-column: 3/4;
    grid-row: 2/4;
  }
  main{
    grid-column: 1/2;
    grid-row: 2/4;
  }
  .imgInMiddle{
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .text1{
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .sidebarRight{
    grid-column: 3/4;
    grid-row: 4/6;
  }

  footer{
    grid-column: 1/4;
    grid-row: 6/7;
  }
}

